.searchBar {
    width: 50%;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
}

.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url] {
    padding: 10px 15px 10px 15px;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: bold;
}