.searchBar {
    width: 60%;
    margin: 0 auto;
    
    margin-top: 2%;
    margin-bottom: 2%;
}

.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url] {
    padding: 10px 15px 10px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: bold;
}